<h1 class="h1">Error 404</h1>

<hr />

<p>The page you were looking for couldn't be found. We're redirecting you to the homepage...</p>

<script>
/** Redirects user to the home page after 2 seconds. */
setTimeout(function () {
  /** Changing window.location. */
  window.location = "/";
}, 2000)
</script>