<table class="table">
    <thead class="mdb-color darken-3">
        <tr class="text-white">
            <th>#</th>
            <th>Email</th>
            <th>Admin</th>
        </tr>
    </thead>
    <tbody>
      {{#each Users}}
        <tr>
            <th scope="row"></th>
            <td>
              {{this.email}}
            </td>
            <td>
              {{this.isAdmin}}
            </td>
        </tr>
        {{/each}}

    </tbody>

</table>
