<!DOCTYPE html>
<html>
	<head>
		<script>
			$(window).ready(() => {
				if ({{fail}}) {
					alert('Incorrect input');
				}
			});
		</script>
	</head>
	<body>
	<div class="container-fluid">
		<button class="btn btn-secondary" onclick="location.href = '/account';">Back</button>
		<hr />
		<div class="row">
			<div class="col">
				<div id="name-card" class="card mb-3">
					<div class="card-header info-color white-text">Change Name</div>
					<div class="card-body">
						<form method="POST" action="/account/edit">
							<table class="table">
								<tbody>
									<tr>
										<th>Name</th>
										<td>
											<input type="text" name="name" value="{{user.name}}" />
										</td>
									</tr>
									<tr>
										<th>Email</th>
										<td>{{user.email}}</td>
									</tr>
									<tr>
										<th>Admin</th>
										<td>
											{{#if user.isAdmin}}
											yes
											{{else}}
											no
											{{/if}}
										</td>
									</tr>
								</tbody>
							</table>
							<input type="submit" class="btn btn-primary" value="Save Changes" />
							<input type="text" name="nameChange" style="display: none;" value="true" />
						</form>
					</div>
				</div>
			</div>
			<div class="col">
				<div id="password-card" class="card">
					<div class="card-header info-color white-text">Change Password</div>
					<div class="card-body text-center">
						<form action="/account/edit" method="POST">
							<input class="mb-2" required="" type="password" name="oldPass" placeholder="Old password" />
							<br />
							<input class="mb-2" required="" type="password" name="newPass" placeholder="New password" />
							<br />
							<input class="mb-2" required="" type="password" name="repeatPass" placeholder="Repeat new password" />
							<br />
							<input type="submit" class="btn btn-primary" value="Change Password" />
							<br />
							<input type="text" name="passChange" style="display: none;" value="true" />
						</form>
					</div>
				</div>
			</div>
		</div>
		</div>
	</body>
</html>