<!DOCTYPE html>
<html>
    <head>
        <title>TEST</title>
        <link rel="stylesheet" href="https://openlayers.org/en/v4.6.5/css/ol.css" type="text/css">
        <!-- The line below is only needed for old environments like Internet Explorer and Android 4.x -->
        <script src="https://cdn.polyfill.io/v2/polyfill.min.js?features=requestAnimationFrame,Element.prototype.classList,URL"></script>
        <script src="https://openlayers.org/en/v4.6.5/build/ol.js"></script>
		<meta charset="UTF-8" />
		<style>
			* {
				margin: 0px;
				padding: 0px;
				overflow: hidden;
			}
		</style>
    </head>
    <body>
        <div id="map" class="map" style="width: 50%; height: 50%;"></div>
        <script>
            
			//old url: "https://openlayers.org/en/v4.6.5/examples/data/kml/2012_Earthquakes_Mag5.kml"
			//in firefox (voor kml structuur): "view-source:https://openlayers.org/en/v4.6.5/examples/data/kml/2012_Earthquakes_Mag5.kml"
            var datalayer = new ol.layer.Heatmap({
              source: new ol.source.Vector({
                url: 'dummy.kml',
                format: new ol.format.KML({
                  extractStyles: false
                })
              }),
              blur: 80,
              radius: 100,
			  visible: false
            });
			
			var base = new ol.layer.Tile({
				source: new ol.source.OSM()
			});

			var vector = datalayer.getSource();
            vector.on('addfeature', function(event) {
				//alle features (kml Placemark)
            });
            
            var raster = new ol.layer.Tile({
              source: new ol.source.Stamen({
                layer: 'toner'
              })
            });

			var view = new ol.View({
                center: ol.proj.fromLonLat([4.90, 52.35]),
                zoom: 12,
				minZoom: 5,
				maxZoom: 19
            });

            var map = new ol.Map({
			  strategy: new ol.loadingstrategy.bbox(),
              layers: [base, raster, datalayer],
              target: 'map',
              view: view
            });
			
			view.on('propertychange', event => {
				if (event.key == "resolution") {
					onzoom(view.getZoom());
				}
			});

			function onzoom(val) {
				if (val <= 15) {
					datalayer.setVisible(false);
				} else {
					datalayer.setVisible(true);
				}
			}
        </script>
    </body>
</html>
