<div class="container-fluid">
  <div class="row">
    <div class="col-12 col-xl-12">
      <div class="card z-depth-2">
        <div class="card-header info-color lighten-1 white-text">
          {{i18n "indexfts.setupdetailstitle"}}
        </div>

        <div class="card-body">
        </div>
      </div>
    </div>
  </div>
</div>