<div class="card z-depth-2 home-left">
    <div class="card-header info-color lighten-1 white-text">
      Home
    </div>

    <div class="card-body">
      {{i18n "index.hometext1"}}
      <a href="https://github.com/PLA25/Sensors">GitHub</a>
      <br><br>
      {{i18n "index.hometext2"}}
      <a href="https://pla25.github.io/Website/">Documentation</a>
    </div>
  </div>

  <div class="card z-depth-2 home-right">
    <div class="card-header info-color lighten-1 white-text">
      Help
    </div>

    <div class="card-body">
      {{i18n "index.hometext3"}}
      <br><br>
      {{i18n "index.hometext4"}}
    </div>
</div>