<link rel="stylesheet" href="/css/indexreroute.css" rel="stylesheet" crossorigin="anonymous">
<div class="container-fluid">
  <div class="row">
    <div class="col-12 col-xl-12">
      <div class="card z-depth-2">
        <div class="card-header info-color lighten-1 white-text">
          {{i18n "indexreroute.title"}}
        </div>

        <div class="card-body">
            {{i18n "indexreroute.details"}}
            
            <div id="wrapper">
                <div id="myTimer"></div>
                <button type="button" id="myBtn" class="btnDisable" disabled onclick="location.href='http://localhost:3000';">Please wait...</button>
            </div>
         
            
        </div>
      </div>
    </div>
  </div>
</div>

<script src="/js/indexreroute.js" crossorigin="anonymous"></script>