<!DOCTYPE html>
<html>

<head>
  <!-- Meta -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Title -->
  {{#if title}}
    <title>PDS - {{title}}</title>
  {{else}}
    <title>PolutionDetectionSystem</title>
  {{/if}}

  <!-- Style -->
  
  <!-- https://www.srihash.org/ -->
  
  <!-- Font Awesome -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" crossorigin="anonymous" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN">
  <!-- Bootstrap core CSS -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm">
  <!-- Material Design Bootstrap -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.5.0/css/mdb.min.css" rel="stylesheet" crossorigin="anonymous" integrity="sha384-Xs3HsmEnkn3GuuBg8nr2ntOPDKbIntZF4fC9XXL1hqsgaVVnKd6vHnf9YVT/R6Kj">

  <!--<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" integrity="sha384-mSDmj3qBTUSy2MFEbpqyfMZIta/gFIjr/S/a8dIlALM+piEwMhwdxSsAlAHHj3UW" crossorigin="anonymous">-->
  <!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-lite/1.3.0/material.blue_grey-blue.min.css" integrity="sha256-aMjro64VbDMZsykwUQBlQzH/8TTpbI/EBKsmqYaIjrM=" crossorigin="anonymous" />-->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/openlayers/4.6.4/ol.css" integrity="sha256-rQq4Fxpq3LlPQ8yP11i6Z2lAo82b6ACDgd35CKyNEBw=" crossorigin="anonymous" />
  <link rel="stylesheet" href="/css/style.css">

  <!-- Script -->
  <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/material-design-lite/1.3.0/material.min.js" integrity="sha256-PCfu4+fnQrp4wNmVbjN1eaX4LbOvOejab0UOhjLezrw=" crossorigin="anonymous"></script>-->

  <!-- JQuery -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js" integrity="sha384-xBuQ/xzmlsLoJpyjoggmTEz8OWUFM0/RC5BsqQBDX2v5cMvDHcMakNTNrHIW2I5f" crossorigin="anonymous"></script>
  <!-- Bootstrap tooltips -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.13.0/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <!-- Bootstrap core JavaScript -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <!-- MDB core JavaScript -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.5.0/js/mdb.min.js" integrity="sha384-Y9m2kwm4OOjZ4AyDvK/6IEUqz0XKcLlQJFnkMnZKOziXmiOAcNHkE9BwTOowtgyK" crossorigin="anonymous"></script>
            
  <script src="https://cdnjs.cloudflare.com/ajax/libs/openlayers/4.6.4/ol.js" integrity="sha256-ZZT1txI5nKBm9GNPGc022qk5dTv9aZ7s3IdNKm9JAl4=" crossorigin="anonymous"></script>
</head>

<body class="view">
  <div>
    <header>

      <nav class="navbar navbar-expand-lg blue darken-3">
        <span class="white-text navbar-brand mr-5">Polution Detection System</span>
		<button id="hamburger-menu-toggler" class="navbar-toggler" data-toggle="collapse" data-target="#navbar-content" aria-controls="navbar-content" aria-expanded="false" aria-label="Toggle menu">
			<span class="black-text">
				<i class="fa fa-bars fa-1x"></i>
			</span>
		</button>
		<div class="collapse navbar-collapse" id="navbar-content">
		<ul class="navbar-nav">
			<li class="nav-item">
				<a class="white-text nav-link" href="/">
					Home
				</a>
			</li>
			{{#if @user}}
			<li class="nav-item">
				<a class="white-text nav-link" href="/map">
					Map
				</a>
			</li>
			<li class="nav-item">
				<a class="white-text nav-link" href="/logout">
					Logout
				</a>
			</li>
			{{else}}
			<li class="nav-item">
				<a class="white-text nav-link" href="/login">
					Login
				</a>
			</li>
			{{/if}}
		</ul>
		</div>
      </nav>

    </header>

    <main>
      {{{body}}}
    </main>

    <footer class="page-footer fixed-bottom black pt-4 mt-4">
	  <div class="footer-copyright">
        Copyright (C) 2018 Cygni (Planet 25)
	  </div>
    </footer>
  </div>
</body>

</html>
