<!DOCTYPE html>
<html>
	<head>
		<title>Login</title>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/spectre.css/0.5.1/spectre.min.css" />
		<style>
			form.screen-center {
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translateX(-50%) translateY(-50%);
				width: 20%;
				height: 50%;
				text-align: center;
				background-color: rgb(100, 100, 200);
				padding: 10px;
				border-radius: 10px;
			}
			.spacing {
				margin-bottom: 15px;
			}
			html {
				background-color: rgb(240, 240, 240);
			}
		</style>
	</head>
	<body>
		<form method="POST" class="screen-center" action="/">
			<h3 style="color: white; margin-bottom: 60px;">Login</h3>
			<input type="text" placeholder="username" name="username" class="form-input spacing" />
			<input type="password" placeholder="password" name="password" class="form-input spacing" />
			<input type="submit" value="login" class="btn btn.btn-primary spacing" />
		</form>
	</body>
</html>