<!DOCTYPE html>
<html>

<head>
	<!-- Meta -->
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<!-- Title -->
	{{#if title}}
		<title>PDS - {{title}}</title>
	{{else}}
		<title>PolutionDetectionSystem</title>
	{{/if}}

	<!-- Style -->

	<!-- Font Awesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- Material Design Bootstrap -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.5.0/css/mdb.min.css" rel="stylesheet" integrity="sha384-Xs3HsmEnkn3GuuBg8nr2ntOPDKbIntZF4fC9XXL1hqsgaVVnKd6vHnf9YVT/R6Kj" crossorigin="anonymous">


	<!-- Script -->

	<!-- JQuery -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js" integrity="sha384-xBuQ/xzmlsLoJpyjoggmTEz8OWUFM0/RC5BsqQBDX2v5cMvDHcMakNTNrHIW2I5f" crossorigin="anonymous"></script>
    <!-- Bootstrap tooltips -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.13.0/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <!-- MDB core JavaScript -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.5.0/js/mdb.min.js" integrity="sha384-Y9m2kwm4OOjZ4AyDvK/6IEUqz0XKcLlQJFnkMnZKOziXmiOAcNHkE9BwTOowtgyK" crossorigin="anonymous"></script>

	<style>
		
		div#form-wrapper {
			position: absolute;
			left: 50%;
			transform: translateX(-50%) translateY(-50%);
			top: 50%;
		}
		div.md-form {
			position: relative;
			top: 0px;
			left: 0px;
		}
		div#image {
			width: 100%;
			position: relative;
			top: 0px;
		}
		html {
			background-color: #f0f0f0;
		}
		
	</style>
</head>

<body>
	<div id="form-wrapper" class="text-center rounded border border-dark p-3 white">

		<h4 class="h4">Login</h4>

		<form action="/login" method="post" class="text-center">

				<div class="md-form">
					<input type="text" id="email" name="email" class="form-control">
					<label for="email">Email</label>
				</div>

				<div class="md-form">
					<input type="password" id="password" name="password" class="form-control">
					<label for="password">Password</label>
				</div>

				<button class="btn btn-primary mt-5" type="submit">
					Login
				</button>

		</form>

	</div>
	
	<script>
		function rem(text) {
			if (text === "email") {
				$('label[for="email"]').html('');
			} else if (text == "password") {
				$('label[for="password"]').html('');
			}
		}

		function show(text) {
			if (text === "email") {
				$('label[for="email"]').html('Email');
			} else if (text == "password") {
				$('label[for="password"]').html('Password');
			}
		}

		var email = $('input[type="text"]');
		var password = $('input[type="password"]');
		
		//focus
		email.on('focus', () => {
			rem('email');
		});
		password.on('focus', () => {
			rem('password');
		});

		//blur
		email.on('blur', () => {
			show('email');
		});
		password.on('blur', () => {
			show('password');
		});

		//input
		email.on('input', () => {
			rem('email');
		});
		password.on('input', () => {
			rem('password');
		});

		//auto-fill fix
		$(window).on('load', () => {
			if (email.val() !== "") {
				rem('email');
			}
			if (password.val() !== "") {
				rem('password');
			}
		});
	</script>
	
</body>

</html>
