<style>
  html,
  body,
  .view {
    height: 100vh;
  }
</style>

<div class="view" style="background-image: url('https://www.nasa.gov/sites/default/files/styles/full_width_feature/public/images/124284main_image_feature_379_ys_full.jpg'); background-repeat: no-repeat; background-size: cover; background-position: center center;">
  <div class="mask rgba-blue-light d-flex justify-content-center align-items-center">
    <div class="container">
      <div class="row">

        <div class="col"></div>

        <div class="col-md-6 col-xl-5 mb-4">
          <div class="card">
            <div class="card-body z-depth-2">

              <div class="text-center">
                <h3 class="dark-grey-text">
                    <strong>Pollution Detection System</strong>
                  </h3>
                <hr>
              </div>

              {{#if error}}
                  <div class="alert alert-danger login-error">{{error}}</div>
              {{/if}}

              <form action="/login" method="post">
                <div class="md-form">
                  <i class="fa fa-user prefix grey-text"></i>
                  <input type="text" id="form3" name="email" class="form-control">
                  <label for="form3">Your email</label>
                </div>
                <div class="md-form">
                  <i class="fa fa-lock prefix grey-text"></i>
                  <input type="password" id="form2" name="password" class="form-control">
                  <label for="form2">Your password</label>
                </div>
                <div class="text-center mt-3">
                  <button class="btn btn-indigo">Login</button>
                </div>
              </form>

            </div>
          </div>
        </div>

        <div class="col"></div>

      </div>
    </div>
  </div>
</div>
