<!-- Style -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/openlayers/4.6.4/ol.css" integrity="sha256-rQq4Fxpq3LlPQ8yP11i6Z2lAo82b6ACDgd35CKyNEBw=" crossorigin="anonymous" />

<div class="card z-depth-2 sidebar">
  <div class="card-header info-color lighten-1 white-text">
    Options
  </div>
  <div class="card-body">
    <div class="md-form" style="margin-top: 0px;">
      <i class="fa fa-globe prefix"></i>
      <input id="address" type="text" placeholder="Search location" class="form-control">
      <input id="goTo" class="btn btn-primary btn-rounded btn-sm my-0" type="button" value="Go to" />
    </div>
    <hr>

    <label>Map Type:</label>
    <div class="btn-group" data-toggle="buttons" style="width: 100%;">
      <label class="btn btn-default active form-check-label" style="width: 50%;">
        <input class="form-check-input" type="radio" id="typeSat" checked autocomplete="off"> Satellite
      </label>

      <label class="btn btn-default form-check-label" style="width: 50%;">
          <input class="form-check-input" type="radio" id="typeMap" autocomplete="off"> Map
      </label>
    </div>
    <hr>

    <label>Layers:</label>
    <div class="custom-control custom-checkbox">
      <input type="checkbox" class="custom-control-input" id="mapboxLayer">
      <label class="custom-control-label" for="mapboxLayer">Navigation</label>
    </div>

    <div class="custom-control custom-checkbox">
      <input type="checkbox" class="custom-control-input" id="heatmapLayer">
      <label class="custom-control-label" for="heatmapLayer">Temperature</label>
    </div>

    <div class="custom-control custom-checkbox">
      <input type="checkbox" class="custom-control-input" id="sensorhubLayer">
      <label class="custom-control-label" for="sensorhubLayer">SensorHubs</label>
    </div>
    <hr>
  </div>
</div>

<div class="card text-center z-depth-2 map">
  <div class="card-header info-color lighten-1 white-text">
    Map
  </div>
  <div class="card-body">
    <div id="map">
    </div>
    <div class="scale">
      -50°C <img src="/spectrum.png" style="border-radius: 5500px;" height="10%" width="100px"> 50°C
    </div>
  </div>
</div>

<!-- Scripts -->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAxgkazSz27Oj0EwF4ihxIefC6_eaF79wk&libraries=places" type="text/javascript"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/openlayers/4.6.5/ol.js" integrity="sha256-77IKwU93jwIX7zmgEBfYGHcmeO0Fx2MoWB/ooh9QkBA=" crossorigin="anonymous"></script>
<script src="/js/map.js" crossorigin="anonymous"></script>
