<!--focus zetten op de knop "map"-->
<script>
	$('li.nav-item:nth-child(2)').addClass('rgba-blue-light');
</script>
<!---->
<div id="map" class="map"></div>
<script>
  var center = ol.proj.transform([4.895168, 52.370216], 'EPSG:4326', 'EPSG:3857');
  var map = new ol.Map({
    layers: [
      new ol.layer.Tile({
        source: new ol.source.OSM()
      }),
      new ol.layer.Tile({
        source: new ol.source.XYZ({
          https://tiles.planet.com/basemaps/v1/planet-tiles/global_monthly_2018_02_mosaic/gmap/{z}/{x}/{y}.png?api_key=44db310cea0743da8e73888c2d2d7b3f
        })
      }),
      new ol.layer.Tile({
        source: new ol.source.XYZ({
          url: 'https://{a-d}.tiles.mapbox.com/v3/planet.jh0b3oee/{z}/{x}/{y}.png'
        })
      }),
      new ol.layer.Vector({
        source: new ol.source.Vector({
          url: '/api/meetpunten',
          format: new ol.format.KML()
        })
      })
    ],
    target: 'map',
    view: new ol.View({
      center: center,
      zoom: 11
    })
  });
</script>
