<div id="map" class="map"></div>
<script>
  var center = ol.proj.transform([4.895168, 52.370216], 'EPSG:4326', 'EPSG:3857');
  var map = new ol.Map({
    layers: [
      new ol.layer.Tile({
        source: new ol.source.OSM()
      }),
      new ol.layer.Tile({
        source: new ol.source.XYZ({
          url: 'http://khm{0-3}.googleapis.com/kh?v=742&hl=pl&&x={x}&y={y}&z={z}'
          // url: 'https://tiles{1-3}.planet.com/data/v1/PSScene3Band/20161221_024131_0e19/{z}/{x}/{y}.png?api_key={your-api-key}'
        })
      }),
      new ol.layer.Tile({
        source: new ol.source.XYZ({
          url: 'https://{a-d}.tiles.mapbox.com/v3/planet.jh0b3oee/{z}/{x}/{y}.png'
        })
      }),
      new ol.layer.Vector({
        source: new ol.source.Vector({
          url: '/api/meetpunten',
          format: new ol.format.KML()
        })
      })
    ],
    target: 'map',
    view: new ol.View({
      center: center,
      zoom: 11
    })
  });
</script>

