<link rel="stylesheet" href="/css/map.css" />
<div id="map" class="map"></div>

<!-- Sidebar -->
<div id="sidebar">
	<!-- Example -->
	<h3>Filters</h3>
	<input id="heatmap-checkbox" type="checkbox" checked="true" />
	<label for="heatmap-checkbox">Heatmap</label>
</div>
<!---->

<script src="/js/map.js" crossorigin="anonymous"></script>
