<!-- Style -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/openlayers/4.6.4/ol.css" integrity="sha256-rQq4Fxpq3LlPQ8yP11i6Z2lAo82b6ACDgd35CKyNEBw="
  crossorigin="anonymous" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css" integrity="sha256-rByPlHULObEjJ6XQxW/flG2r+22R5dKiAoef+aXWfik="
  crossorigin="anonymous" />

<div class="card z-depth-2 sidebar">
  <div class="card-header info-color lighten-1 white-text">
    Options
  </div>
  <div class="card-body">
    <label>
      <b>
        Go To:
      </b>
    </label>
    <div class="md-form" style="margin-top: 0px;">
      <i class="fa fa-globe prefix"></i>
      <input id="address" type="text" placeholder="Search location" class="form-control">
      <div class="alert alert-danger" id="goToError"></div>
    </div>
    <hr>

    <label>
      <b>
        Map Type:
      </b>
    </label>
    <div class="btn-group" data-toggle="buttons" style="width: 100%;">
      <label class="btn btn-default form-check-label active" style="width: 50%;">
        <input class="form-check-input" type="radio" id="typeSat" checked autocomplete="off"> Satellite
      </label>

      <label class="btn btn-default form-check-label" style="width: 50%;">
        <input class="form-check-input" type="radio" id="typeMap" autocomplete="off"> Map
      </label>
    </div>
    <hr>

    <label>
      <b>
        Features:
      </b>
    </label>
    <div class="custom-control custom-checkbox">
      <input type="checkbox" class="custom-control-input" id="mapboxLayer">
      <label class="custom-control-label" for="mapboxLayer">Navigation</label>
    </div>

    <div class="custom-control custom-checkbox">
      <input type="checkbox" class="custom-control-input" id="sensorhubLayer">
      <label class="custom-control-label" for="sensorhubLayer">SensorHubs</label>
    </div>
    <hr>

    <label>
      <b>
        Layers:
      </b>
    </label>
    <div class="custom-control custom-checkbox">
      <input type="checkbox" class="custom-control-input" id="tempEnabled">
      <label class="custom-control-label" for="tempEnabled">Temperature</label>
    </div>

    <div class="custom-control custom-checkbox">
      <input type="checkbox" class="custom-control-input" id="gasEnabled">
      <label class="custom-control-label" for="gasEnabled">Gasses</label>
    </div>

    <div class="custom-control custom-checkbox">
      <input type="checkbox" class="custom-control-input" id="lightEnabled">
      <label class="custom-control-label" for="lightEnabled">Light</label>
    </div>
    <hr>

    <label>
      <b>
        Timeline:
      </b>
    </label>
    <div class="btn-group" style="width: 100%;">
      <div id="custom-handle" style="width: 50%;">
        Latest data
      </div>
      <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
        id="time-button" style="width: 50%;">
        2 uur
      </button>

      <div class="dropdown-menu" id="time-menu">
        <a class="dropdown-item" href="#" id="time-1">1 uur</a>
        <a class="dropdown-item" href="#" id="time-2" style="display: none;">2 uur</a>
        <a class="dropdown-item" href="#" id="time-6">6 uur</a>
        <a class="dropdown-item" href="#" id="time-12">12 uur</a>
        <a class="dropdown-item" href="#" id="time-24">24 uur</a>
      </div>
    </div>

    <div id="slider" style="margin-top: 15px;">
      <div class="ui-slider-handle"></div>
    </div>
    <hr>
  </div>
</div>


<div class="card text-center z-depth-2 map">
  <div class="card-header info-color lighten-1 white-text">
    Map
  </div>
  <div class="card-body">

    <div id="map">
    </div>
    <!-- Button trigger modal -->

    <!-- Modal -->
    <div class="modal fade " id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Sensorhub information</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="row">
              <div class="col-12">
                <canvas id="tempChart"></canvas>
              </div>

              <div class="col-12">
                <canvas id="lightChart"></canvas>
              </div>

              <div class="col-12">
                <canvas id="gassChart"></canvas>
              </div>
              <br>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal">More details</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  <div class="scale">
    -50°C
    <img src="/spectrum.png" style="border-radius: 5500px;" height="10%" width="100px"> 50°C
  </div>
</div>
</div>

<!-- Scripts -->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAxgkazSz27Oj0EwF4ihxIefC6_eaF79wk&libraries=places" type="text/javascript"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/openlayers/4.6.5/ol.js" integrity="sha256-77IKwU93jwIX7zmgEBfYGHcmeO0Fx2MoWB/ooh9QkBA="
  crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="/js/map.js" crossorigin="anonymous"></script>