<!-- Profiel Pagina -->

<link rel="stylesheet" href="/css/profile.css" rel="stylesheet" crossorigin="anonymous">

<table class="table">
	<tbody>
		<tr>
			<td class="text-right" id="properties">
				Name
				<br />
				Email
				<br />
				Admin
				<br />
				Password
			</td>
			<td class="text-left">
				<span>{{user.name}}</span>
				<br />
				<span>{{user.email}}</span>
				<br />
				<span>
				{{#if user.isAdmin}}
					yes
				{{else}}
					no
				{{/if}}
				</span>
				<br />
				<i>
					<span>hidden</span>
				</i>
			</td>
		</tr>
	</tbody>
</table>
<button class="btn btn-warning">Edit Profile</button>

<script src="/js/profile.js"></script>