<div class="row">

  <div class="col-12 col-xl-6">
    <h1>{{ sensorHub.SerialID }}</h1>
    <table class="table table-responsive-md table-striped">
      <thead class="rgba-blue-dark darken-3">
        <tr class="text-white">
          <th>Tempature</th>
          <th>Timestamp</th>
        </tr>
      </thead>
      <tbody>
        {{#each sensorHubData}}
          <tr>
            <td>
              {{this.Value}}&#8451;
            </td>
            <td>
              {{this.formatDate}}
            </td>
          </tr>
        {{/each}}

      </tbody>

    </table>
  </div>

</div>
