body {
	position: absolute;
	top: 0px;
	left: 0px;
	padding: 0px;
	margin: 0px;
	overflow: hidden;
}
div#coords {
	top: 20px;
	left: 20px;
}
div#logout {
	transform: translateX(-100%);
	top: 0px;
	left: 100%;
	cursor: pointer;
}
div#gebruiker {
	top: 20px;
	left: 50%;
	transform: translateX(-50%);
}
.info {
	position: absolute;
	color: white;
	background-color: black;
	font-size: 20px;
	padding: 5px;
}