#pimage {
	float: left;
	height: 100%;
	width: 30%;
}
#pimage::after {
	content: '';
	background-color: black;
	position: absolute;
	width: 2px;
	top: 56px;
	left: 30%;
	bottom: 54px;
	z-index: -10;
}
#pinfo {
	float: right;
	height: 100%;
	width: 70%;
	height: 100%;
	text-align: center;
	padding-top: 10%;
}
#properties {
	font-weight: bold;
	width: 50%;
}
#Image {
	width: 100%;
}
td {
	border-top: initial !important;
}
main {
	overflow: hidden;
}