html {
	position: relative;
	min-height: 100%;
}

body {
	font-size: 1.1rem;
}

main {
	padding: 25px;
}

footer {
	background-color: orange;
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	overflow: hidden;
}

.map {
	height: 50% !important;
	width: 50% !important;
}

.rgba-blue-dark {
	background-color: rgba(3, 169, 244, 1) !important;
}

.login-error {
	font-size: 1.0rem;
	margin-bottom: 5px;
}

.navbar .navbar-nav {
  margin-right: 30px;
}

.navbar .flag {
  cursor: pointer;
  margin-left: 5px;
}

.navbar .flag img {
  height: 27px;
  width: 48px;
}

.card .flag {
  cursor: pointer;
  float: left;
  margin-right: 10px;
}

.card .flag img {
  border-radius: 0;
  height: 27px;
  width: 48px;
}
